*{
    margin: 0;
}
header{
    background-color: rgb(208, 158, 200);
    color: rgba(74, 56, 76, 0.515);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#titulo{
    color: rgb(58, 39, 59);
}
nav{
    border: 2px solid; 
    margin-top: 10px;
}
a{
    color: rgb(53, 39, 53);
    padding: 0 10px;
    text-decoration: none;
}
a:hover{
    background-color: rgb(153, 118, 162);
}
section{
    background-color: rgb(208, 158, 200);
    max-width: 90%;
    margin: 20px auto;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
}
.img-card{
    width: 90%;
    margin: 5px auto;
    border: 1px solid rgb(139, 13, 100);
    border-radius: 8px;
}
article{
width: 270px;
background-color: aliceblue;
display: flex;
flex-direction: column;
border-radius: 5px;
}

.titulo-card{
    margin: 5px auto;
    font-size: 20px;

}
.texto-card{
    margin: 0 5px;
}
.botao-card{
    background-color: brown;
    padding: 10px;
    width: 60%;
    margin: auto;
    border-radius: 20px;
    text-align: center;
}
.botao-card:hover{
    background-color: black;
    border: 2px solid crimson;
}
