*{
    margin: 0;
}
header{
    background-color: bisque;
    color: brown;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#titulo{
    color: aquamarine;
}
nav{
    border: 2px solid; 
    margin-top: 10px;
}
a{
    color: rgb(37, 61, 81);
    padding: 0 10px;
    text-decoration: none;
}
a:hover{
    background-color: rgb(26, 30, 34);
}
